<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= APP_NAME %></title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.5.0/ical.min.js"
      integrity="sha512-0izBc1upGYnrS1u1MX7QR+sjFIxZWxLVdNI7cUoHHCutDr5ENjuQRZuS+v+3NFNGfwHSrPoHzBzED0rV651tGw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="calendar" class="full-window"></div>
      <div id="message-wrapper" class="golden center full-window blur hidden">
        <div id="message" class="centered"></div>
      </div>
    </div>
  </body>
</html>
