<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= APP_NAME %></title>
  </head>
  <body>
    <div id="wrapper">
      <div id="calendar" class="full-window"></div>
      <div id="message-wrapper" class="golden center full-window blur">
        <div id="message" class="centered"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/ical.js@1.5.0/build/ical.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.17/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/web-component@6.1.17/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.17/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.17/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.17/index.global.min.js"></script>
  </body>
</html>
