@use 'sass:list';
@use 'sass:map';
@use '@groton/colors/vars.css';

:root {
  // GRACE colors
  --w-block: var(--dark-blue);
  --x-block: var(--yellow);
  --y-block: var(--orange);
  --z-block: var(--green);
  --study-hall: var(--light-blue);
  --activity: var(--purple);
  --group: var(--activity);
}

$colors:
  'red', 'orange', 'yellow', 'green', 'light-blue', 'dark-blue', 'purple',
  'w-block', 'x-block', 'y-block', 'z-block', 'study-hall', 'activity', 'group';

$lightColors: 'yellow', 'x-block';

body {
  margin: 0;
  padding: 0;
  font-family:
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  font-size: 14px;
  background: white;
}

#calendar {
  padding: 30px;

  a.fc-col-header-cell-cushion {
    text-decoration: none;
    color: black;
  }

  // hide duplicate blocks
  $colorSelectors: ();
  @each $color in $colors {
    $colorSelectors: map.set($colorSelectors, #{$color}, '.#{$color}');
  }
  .fc-timegrid-event-harness-inset[style*='50%']:has(
      #{map.values($colorSelectors)}
    ) {
    display: none;
  }

  // hide empty day-long events
  .fc-daygrid-event-harness:has(a):has(div:empty) {
    display: none;
  }

  .fc-event {
    text-align: center;
    box-shadow: 0 0 0.25em black;

    .fc-event-main-frame {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .fc-event-title {
        font-size: min(100%, 36px);
        font-weight: bold;

        svg {
          max-height: 100%;
          height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .fc-timegrid-now-indicator-line {
    border-width: 0.25em;
    box-shadow: 0 0 1em white;
  }

  .fc-day-today {
    background: var(--groton-red);

    .fc-col-header-cell-cushion {
      color: white;
      text-shadow: 0 0 1em black;
    }

    .fc-event {
      box-shadow: 0 0 1em black;
    }
  }

  @mixin color-block(
    $background,
    $text: white,
    $shadow: black,
    $border: black
  ) {
    background: $background;
    color: $text;
    svg text {
      stroke: none;
      fill: $text;
    }
    text-shadow: 0 0 1em $shadow;
    border: solid 0.25px $border;
  }

  @each $color in $colors {
    .#{$color} {
      @include color-block(
        var(--#{$color}),
        if(list.index($lightColors, $color) != null, black, white),
        if(list.index($lightColors, $color) !=null, lightgray, black)
      );
    }
  }

  .no-color {
    @include color-block(var(--no-color));
  }
}

#calendar > fc.event {
  display: block;
}

.full-window {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.center {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;

  .centered {
    position: relative;
    grid-row: 2;
    grid-column: 2;
  }
}
.center.golden {
  grid-template-rows: 1fr auto 1.618fr;
}

.blur {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  z-index: 1000;
}
#message {
  font-size: 10vh;
  text-shadow: 0 0 10px white;
  text-align: center;
  margin: min(5vh, 5vw);
}

#wrapper:has(.fc-timegrid-event-harness) #message-wrapper {
  display: none;
}

.hidden {
  display: none;
}
