body {
  margin: 40px 10px;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background: white;
}

#calendar {
  .fc-day-today {
    background: #a6093d;

    .fc-col-header-cell-cushion {
      color: white;
    }
  }

  .fc-event-main-frame {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .fc-event-main {
    text-align: center;
    svg {
      text {
        stroke: none;
        fill: white;
      }
    }
  }

  .fc-event-title {
    font-size: min(100%, 36px);
    font-weight: bold;
  }

  .red {
    background: red;
    border: darkred;
  }

  .orange {
    background: orange;
    border: darkorange;
  }

  .yellow {
    background: yellow;
    border: goldenrod;

    .fc-event-main-frame {
      color: darkgoldenrod;
    }

    svg text {
      fill: darkgoldenrod;
    }
  }

  .green {
    background: green;
    border: darkgreen;
  }

  .light-blue {
    background: lightblue;
    border: blue;

    .fc-event-main-frame {
      color: blue;
    }

    svg text {
      fill: blue;
    }
  }

  .dark-blue {
    background: darkblue;
    border: rgb(0, 0, 71);
  }

  .purple {
    background: purple;
    border: indigo;
  }

  .no-color {
    background: gray;
    border: darkgray;
  }

  a.fc-col-header-cell-cushion {
    text-decoration: none;
    color: black;
  }
}
