:root {
  --groton-red: #a6093d;
  --red: red;
  --orange: rgb(255, 163, 0);
  --yellow: rgb(255, 249, 44);
  --green: rgb(9, 180, 0);
  --light-blue: rgb(135, 193, 255);
  --dark-blue: rgb(0, 80, 166);
  --purple: rgb(110, 0, 177);
  --no-color: gray;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background: white;
}

#calendar {
  padding: 30px;

  a.fc-col-header-cell-cushion {
    text-decoration: none;
    color: black;
  }

  .fc-event {
    text-align: center;
    box-shadow: 0 0 0.25em black;

    .fc-event-main-frame {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .fc-event-title {
        font-size: min(100%, 36px);
        font-weight: bold;

        svg {
          height: 100%;
        }
      }
    }
  }

  .fc-timegrid-now-indicator-line {
    border-width: 0.25em;
    box-shadow: 0 0 1em white;
  }

  .fc-day-today {
    background: var(--groton-red);

    .fc-col-header-cell-cushion {
      color: white;
      text-shadow: 0 0 1em black;
    }

    .fc-event {
      box-shadow: 0 0 1em black;
    }
  }

  @mixin color-block(
    $background,
    $text: white,
    $shadow: black,
    $border: black
  ) {
    background: $background;
    color: $text;
    svg text {
      stroke: none;
      fill: $text;
    }
    text-shadow: 0 0 1em $shadow;
    border: solid 0.25px $border;
  }

  .red {
    @include color-block(var(--red));
  }

  .orange,
  .y-block {
    @include color-block(var(--orange));
  }

  .yellow,
  .x-block {
    @include color-block(var(--yellow), black, lightgray);
  }

  .green,
  .z-block {
    @include color-block(var(--green));
  }

  .light-blue,
  .study-hall {
    @include color-block(var(--light-blue));
  }

  .dark-blue,
  .w-block {
    @include color-block(var(--dark-blue));
  }

  .purple,
  .activity,
  .group {
    @include color-block(var(--purple));
  }

  .no-color {
    @include color-block(var(--no-color));
  }
}

#calendar > fc.event {
  display: block;
}

.full-window {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.center {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;

  .centered {
    position: relative;
    grid-row: 2;
    grid-column: 2;
  }
}
.center.golden {
  grid-template-rows: 1fr auto 1.618fr;
}

.blur {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.hidden {
  display: none;
}

#message {
  font-size: 10vh;
  text-shadow: 0 0 10px white;
}
